spring:
  application:
    name: rocket-chat
  mail:
    default-encoding:
    host: smtp-mail.outlook.com
    username: solvers2022@outlook.com
    password: hack@2022
    port: 587
    properties:
      mail:
        smtp:
          ssl:
            trust: "smtp-mail.outlook.com"
          auth: true
          starttls:
            enable: true
    protocol: smtp
    test-connection: false

server:
  port: 8080

eureka:
  client:
    serviceUrl:
      defaultZone: http://localhost:8090/eureka/
    registerWithEureka: true
    fetchRegistry: true
  instance:
    appname: rocket-chat

springdoc:
  swagger-ui:
    path: /docs

nlp:
  summary:
    endpoint: ${NLP_SUMMARY_URL:https://nlp-hub-processor.herokuapp.com/summary/dialogue/{input}}
  dataprocessor:
    endpoint: ${NLP_DATAPROCESSOR_URL:https://c8e9-2401-4900-1cb9-f37-3c48-9c6e-ad95-fca1.ngrok.io/nlp/getActionItem}

jira:
  browse-url: ${JIRA_BROWSE_URL:https://thegreatsolvers.atlassian.net/browse/}
  connector:
    endpoint: ${JIRA_CONNECTOR_URL:https://jira-connector-solvers.herokuapp.com/jira/connector/incident}